$color-light: #2a2a2a;
$color-dark: #e5e6ec;

.Container_AnalogClock {
  position: relative;
  border-radius: 50%;
  border: 2px solid $color-light;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 50px;
  height: 50px;

  * {
    background-color: $color-light;
  }

  &.Loading_AnalogClock * {
    animation: blink 2s ease infinite !important;
  }

  &.Transition_AnalogClock * {
    transition: 1s;
  }

  > .Circle_AnalogClock {
    position: absolute;
    width: 5px;
    height: 5px;
    top: calc(50% - 2.5px);
    left: calc(50% - 2.5px);
    border-radius: 50%;
    transform-origin: 0;
  }

  > .Minute_AnalogClock {
    position: absolute;
    width: 45%;
    transform-origin: 0;
    top: calc(50% - 2px);
    left: 50%;
  }

  > .Hour_AnalogClock {
    position: absolute;
    width: 40%;
    transform-origin: 0;
    top: calc(50% - 2px);
    left: 50%;
  }

  &.Dark_AnalogClock {
    border-color: $color-dark;
    * {
      background-color: $color-dark;
    }
  }
}

@keyframes blink {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
  to {
    opacity: 1;
  }
}
